{% extends 'frontmaster.html' %}
{% load static %}
{% block content %}



<div class="breadcrumb-area breadcrumb-padding">
    <div class="container custom-container-one">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-contents">
                    <h4 class="breadcrumb-contents-title"> Page Not Found 404 </h4>
                    <ul class="breadcrumb-contents-list list-style-none">
                        <li class="breadcrumb-contents-list-item"> <a href="/" class="breadcrumb-contents-list-item-link"> Home </a> </li>
                        <li class="breadcrumb-contents-list-item"> 404 Page Not Found </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="contact-area pab-100">
    <div class="container">
        <!-- <div class="contact-map">
            <iframe src="https://www.openstreetmap.org/export/embed.php?bbox=90.35842895507812%2C23.53377298325595%2C91.505126953125%2C24.090350357613616&amp;layer=mapnik"></iframe>
        </div> -->
        <div class="row">
            <div class="col-lg-6 mt-5">
                <div class="contact-thumb">
                    <img src="{% static 'front/assets/img/single-page/contact.jpg' %}" alt="img">
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="contact-wrapper contact-padding bg-white radius-20">
                    <div class="contact-contents">
                        <h4 class="contact-contents-title">Page Not Found </h4>
                        <p class="contact-contents-para mt-2"> You Are Looking this Page under maintenance !!  </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}