{% extends 'frontmaster.html' %}
{% block content %}



<div class="breadcrumb-area section-bg-2 breadcrumb-padding">
    <div class="container custom-container-one">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-contents">
                    <h4 class="breadcrumb-contents-title"> Hotel List </h4>
                    <ul class="breadcrumb-contents-list list-style-none">
                        <li class="breadcrumb-contents-list-item"> <a href="index.php" class="breadcrumb-contents-list-item-link"> Home </a> </li>
                        <li class="breadcrumb-contents-list-item"> Hotels </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="responsive-overlay"></div>
<section class="hotel-list-area section-bg-2 pat-100 pab-100">
    <div class="container">

        <div class="shop-contents-wrapper mt-5">
            <div class="shop-icon">
                <div class="shop-icon-sidebar">
                    <i class="las la-bars"></i>
                </div>
            </div>
            <div class="shop-sidebar-content">
                <div class="shop-close-content">
                    <div class="shop-close-content-icon"> <i class="las la-times"></i> </div>
                    <div class="single-shop-left bg-white radius-10">
                        <div class="single-shop-left-title open">
                            <h5 class="title"> Prices </h5>
                            <div class="single-shop-left-inner mt-4">
                                <form class="price-range-slider" method="post" data-start-min="0" data-start-max="10000" data-min="0" data-max="10000" data-step="5">
                                    <div class="ui-range-slider"></div>
                                    <div class="ui-range-slider-footer">
                                        <div class="ui-range-values">
                                            <span class="ui-price-title"> Price: </span>
                                            <div class="ui-range-value-min">Rs.<span class="min_price">100</span>
                                                <input type="hidden" value="100">
                                            </div>-
                                            <div class="ui-range-value-max">Rs.<span class="max_price">9950</span>
                                                <input type="hidden" value="9950">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="single-shop-left bg-white radius-10 mt-4">
                        <div class="single-shop-left-title open">
                            <h5 class="title"> Amenities </h5>
                            <div class="single-shop-left-inner margin-top-15">
                                <ul class="single-shop-left-list active-list list-style-none">
                                    <li class="item-search">
                                        <input type="text" class="form--control" placeholder="Search Amenities">
                                        <div class="item-search-icon"> <i class="las la-search"></i> </div>
                                    </li>
                                    <li class="item"> <a href="javascript:void(0)"> Parking </a> </li>
                                    <li class="item active"> <a href="javascript:void(0)"> Room Service </a> </li>
                                    <li class="item"> <a href="javascript:void(0)"> Free Wifi </a> </li>
                                    <li class="item"> <a href="javascript:void(0)"> Healthy Breakfast </a> </li>
                                    <li class="item"> <a href="javascript:void(0)"> Flexible Checkout </a> </li>
                                    <li class="item"> <a href="javascript:void(0)"> Swimming Pool </a> </li>
                                    <li class="item"> <a href="javascript:void(0)"> Mini Fridge </a> </li>
                                    <li class="item"> <a href="javascript:void(0)"> Garden View </a> </li>
                                    <li class="item"> <a href="javascript:void(0)"> Play Ground </a> </li>
                                    <li class="more-amenities"> <a href="javascript:void(0)"> 23 More Amenities </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-shop-left bg-white radius-10 mt-4">
                        <div class="single-shop-left-title open">
                            <h5 class="title"> Filter By Rating </h5>
                            <div class="single-shop-left-inner">
                                <ul class="single-shop-left-filter-list active-list mt-3">
                                    <li class="item active">
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                    </li>
                                    <li class="item">
                                        <a href="javascript:void(0)"> <i class="las la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                        <a href="javascript:void(0)"> <i class="lar la-star"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-grid-contents">
                <div class="grid-list-contents">
                    <div class="grid-list-contents-flex">
                        <p class="grid-list-contents-para"> Showing 1-4 of 16 results </p>
                        <div class="grid-list-view">
                            <ul class="grid-list-view-flex d-flex tabs list-style-none">
                                <li class="grid-list-view-icons active" data-tab="tab-grid">
                                    <a href="javascript:void(0)" class="icon"> <i class="las la-border-all"></i> </a>
                                </li>
                                <li class="grid-list-view-icons" data-tab="tab-list">
                                    <a href="javascript:void(0)" class="icon"> <i class="las la-bars"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tab-grid" class="tab-content-item active mt-4">
                    <div class="row gy-4">



                        {% for i in page_obj.object_list %}
                        <div class="col-md-6">
                            <div class="hotel-view bg-white radius-20">
                                {% i.img %}
                                <a href="{% url 'hotel_details' i.slug %}" class="hotel-view-thumb hotel-view-grid-thumb bg-image" style="background-image: url({{ i.img.url }});">
                                {% else %}
                                    <h1>Image Not Found </h1>
                                    {% endif %}
                                </a>
                                <div class="hotel-view-contents">
                                    <div class="hotel-view-contents-header">
                                        <span class="hotel-view-contents-review"> <i class="las la-star"></i> 4.5 <span class="hotel-view-contents-review-count"> (380) </span> </span>
                                        <h3 class="hotel-view-contents-title"> <a href="{% url 'hotel_details' i.slug %}"> {{ i.name }} </a> </h3>
                                        <div class="hotel-view-contents-location mt-2">
                                            <span class="hotel-view-contents-location-icon"> <i class="las la-map-marker-alt"></i> </span>
                                            <span class="hotel-view-contents-location-para"> {{ i.address }} </span>
                                        </div>
                                    </div>
                                    <div class="hotel-view-contents-middle">
                                        <div class="hotel-view-contents-flex">
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Car Parking">
                                                <i class="las la-parking"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Wifi">
                                                <i class="las la-wifi"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Breakfast">
                                                <i class="las la-coffee"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Home Service">
                                                <i class="las la-quidditch"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Swimming Pool">
                                                <i class="las la-swimming-pool"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Reception">
                                                <i class="las la-receipt"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Gym">
                                                <i class="las la-dumbbell"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon">
                                                <a class="hotel-view-contents-icon-more" href="javascript:void(0)"> +8 More </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-view-contents-bottom">
                                        <div class="hotel-view-contents-bottom-flex">
                                            <div class="hotel-view-contents-bottom-contents">
                                                <h4 class="hotel-view-contents-bottom-title"> Rs.{{ i.budget.name }} <sub>/Night</sub> </h4>
<!--                                                <p class="hotel-view-contents-bottom-para"> (4 Nights, 2 Rooms, 4 Persons) </p>-->
                                            </div>
                                            <div class="btn-wrapper">
                                                <a href="{% url 'hotel_details' i.slug %}" class="cmn-btn btn-bg-1 btn-small"> Reserve Now </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% endfor %}

                                    <div class="row mt-5">
                        <div class="col">
                            <div class="pagination-wrapper">
                                <ul class="pagination-list list-style-none">

                                    <li class="pagination-list-item-prev">
                                         {%if page_obj.has_previous %}
                                        <a href="?page={{page_obj.previous_page_number}}" class="pagination-list-item-button"> Prev </a>
                                        {% endif %}
                                    </li>


                                    {% for n in page_obj.paginator.page_range %}
                                        {% if page_obj.number == n %}
                                    <li class="pagination-list-item">
                                        <span class="page-link">{{ n }}<span class="sr-only"></span></span>
                                    </li>
                                    {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}

                                    <li class="pagination-list-item active">
                                        <a href="?page={{ n }}" class="pagination-list-item-link"> {{ n }} </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}


                                    <li class="pagination-list-item-next">
                                        {%if page_obj.has_next %}
                                        <a href="?page={{page_obj.next_page_number}}" class="pagination-list-item-button"> Next </a>
                                        {% endif %}

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>




                    </div>
                </div>
                <div id="tab-list" class="tab-content-item mt-4">


                    <div class="row gy-4">
                        {% for i in page_obj.object_list %}

                        <div class="col-12">
                            <div class="hotel-view bg-white radius-20">
                                <div class="hotel-view-flex">
                                    <a href="{% url 'hotel_details' i.slug %}" class="hotel-view-thumb hotel-view-list-thumb bg-image" style="background-image: url({{ i.img.url }});">
                                    </a>
                                    <div class="hotel-view-contents">
                                        <div class="hotel-view-contents-header">
                                            <div class="hotel-view-contents-header-flex d-flex flex-wrap gap-3 align-items-center justify-content-between">
                                                <span class="hotel-view-contents-review"> <i class="las la-star"></i> 4.5 <span class="hotel-view-contents-review-count"> (380) </span> </span>
                                                <div class="btn-wrapper">
                                                    <a href="{% url 'hotel_details' i.slug %}" class="cmn-btn btn-bg-1 btn-small"> Reserve Now </a>
                                                </div>
                                            </div>
                                            <h3 class="hotel-view-contents-title"> <a href="{% url 'hotel_details' i.slug %}"> {{ i.name }} </a> </h3>
                                            <div class="hotel-view-contents-location mt-2">
                                                <span class="hotel-view-contents-location-icon"> <i class="las la-map-marker-alt"></i> </span>
                                                <span class="hotel-view-contents-location-para"> {{ i.address }} , {{ i.city.name }} </span>
                                            </div>
                                        </div>
                                        <div class="hotel-view-contents-middle">
                                            <div class="hotel-view-contents-flex">
                                                <div class="hotel-view-contents-icon d-flex gap-1">
                                                    <span> <i class="las la-parking"></i> </span>
                                                    <p class="hotel-view-contents-icon-title flex-fill"> Parking </p>
                                                </div>
                                                <div class="hotel-view-contents-icon d-flex gap-1">
                                                    <span> <i class="las la-wifi"></i> </span>
                                                    <p class="hotel-view-contents-icon-title flex-fill"> Wifi </p>
                                                </div>
                                                <div class="hotel-view-contents-icon d-flex gap-1">
                                                    <span> <i class="las la-coffee"></i> </span>
                                                    <p class="hotel-view-contents-icon-title flex-fill"> Breakfast </p>
                                                </div>
                                                <div class="hotel-view-contents-icon d-flex gap-1">
                                                    <span> <i class="las la-quidditch"></i> </span>
                                                    <p class="hotel-view-contents-icon-title flex-fill"> Room Service </p>
                                                </div>
                                                <div class="hotel-view-contents-icon d-flex gap-1">
                                                    <span> <i class="las la-swimming-pool"></i> </span>
                                                    <p class="hotel-view-contents-icon-title flex-fill"> Pool </p>
                                                </div>
                                                <div class="hotel-view-contents-icon d-flex gap-1">
                                                    <span> <i class="las la-receipt"></i> </span>
                                                    <p class="hotel-view-contents-icon-title flex-fill"> Reception </p>
                                                </div>
                                                <div class="hotel-view-contents-icon d-flex gap-1">
                                                    <span> <i class="las la-dumbbell"></i> </span>
                                                    <p class="hotel-view-contents-icon-title flex-fill"> Gym </p>
                                                </div>
                                                <div class="hotel-view-contents-icon d-flex gap-1">
                                                    <a class="hotel-view-contents-icon-more" href="javascript:void(0)"> +8 More </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hotel-view-contents-bottom">
                                            <div class="hotel-view-contents-bottom-flex">
                                                <div class="hotel-view-contents-bottom-contents d-flex flex-wrap gap-4 gap-sm-1">
                                                    <h4 class="hotel-view-contents-bottom-title"> Rs.{{ i.budget.name }} <sub>/Night</sub> </h4>
<!--                                                    <p class="hotel-view-contents-bottom-para"> (4 Nights, 2 Rooms, 4 Persons) </p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>


                    <div class="row mt-5">
                        <div class="col">
                            <div class="pagination-wrapper">
                                <ul class="pagination-list list-style-none">

                                    <li class="pagination-list-item-prev">
                                         {%if page_obj.has_previous %}
                                        <a href="?page={{page_obj.previous_page_number}}" class="pagination-list-item-button"> Prev </a>
                                        {% endif %}
                                    </li>


                                    {% for n in page_obj.paginator.page_range %}
                                        {% if page_obj.number == n %}
                                    <li class="pagination-list-item">
                                        <span class="page-link">{{ n }}<span class="sr-only"></span></span>
                                    </li>
                                    {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}

                                    <li class="pagination-list-item active">
                                        <a href="?page={{ n }}" class="pagination-list-item-link"> {{ n }} </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}


                                    <li class="pagination-list-item-next">
                                        {%if page_obj.has_next %}
                                        <a href="?page={{page_obj.next_page_number}}" class="pagination-list-item-button"> Next </a>
                                        {% endif %}

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>


{% endblock %}