{% extends 'frontmaster.html' %}
{% block content %}
{% load static %}
{% include 'header.html' %}


<?php include 'header.html'; ?>
<?php include 'header2.html'; ?>
<div class="container-fluid">
    <div class="row justify-content-center text-center alert alert-success py-4">
        <div class="col-lg-6">
            <h6><a href="explore.html">Places to Visit in {{ hotels.state.name }}</a></h6>
        </div>
        <div class="col-lg-6">
            <h6><a href="explorectivities.html">Activities in {{ hotels.state.name }}</a></h6>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row g-4">
        <h3 class="text-center my-3">Explore {{ hotels.state.name }}
        </h3>

{% for e in expvenu %}
        <div class="col-xl-6 col-lg-6 my-2">
            <div class="sticky-top">
                <div class="hotel-details-widget widget bg-white radius-10">

                    <div class="hotel-view">
                        {% if e.img %}
                        <div class="hotel-view-thumb hotel-view-grid-thumb bg-image" style="background-image: url({{ e.img.url }});">
                        </div>
                        {% endif %}
                        <div class="hotel-view-contents">
                            <div class="hotel-view-contents-header">

                                <h3 class="hotel-view-contents-title">
                                    {{ e.title }}</h3>
                            </div>
                            <div class="hotel-view-contents-bottom">
                                <div class="hotel-view-contents-bottom-flex">
                                    <div class="btn-wrapper">
                                        <a href="{% url 'explorevenu' e.id %}" class="cmn-btn btn-bg-1 btn-small"> View </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endfor %}
    </div>
</div>
<?php include 'footer2.html'; ?>


{% endblock %}
