{% extends 'frontmaster.html' %}
{% block content %}

{% include 'header.html' %}




<?php include 'header.html'; ?>
<?php include 'header2.html'; ?>
<div class="breadcrumb-area breadcrumb-padding">
    <div class="container custom-container-one">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-contents">
                    <h4 class="breadcrumb-contents-title"> Contact Us </h4>

                </div>
            </div>
        </div>
    </div>
</div>


<section class="contact-area pab-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 mt-5">
                <div class="contact-wrapper contact-padding bg-white radius-20">
                    <div class="contact-contents">
                        <h4 class="contact-contents-title"> Contact Qcent Hotels & Resorts </h4>
                        <div class="contact-contents-form custom-form">

                            <form method="post">
                                {% csrf_token %}
                                <div class="single-flex-input mt-4">
                                    <div class="single-input mt-4">
                                        <input type="text" name="name" class="form--control radius-5" placeholder="Name">
                                    </div>
                                    <div class="single-input mt-4">
                                        <input type="text" name="city" class="form--control radius-5" placeholder="City">
                                    </div>
                                </div>

                                <div class="single-input mt-4">
                                        <input type="number" name="phone" class="form--control radius-5" placeholder="Number">
                                    </div>
                                <div class="single-input mt-4">
                                    <input type="text" name="email" class="form--control radius-5" placeholder="Type Email">
                                </div>
                                <div class="single-input mt-4">
                                    <textarea name="txt" class="form--control form-message radius-5"></textarea>
                                </div>
                                <button type="submit" class="submit-btn radius-5"> Submit </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<?php include 'footer2.html'; ?>



{% endblock %}
