{% extends 'frontmaster.html' %}
{% block content %}

{% include 'header.html' %}




<?php include 'header.html'; ?>
<?php include 'header2.html'; ?>
<div class="breadcrumb-area breadcrumb-padding">
    <div class="container custom-container-one">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-contents">
                    <h4 class="breadcrumb-contents-title"> Contact Us </h4>

                </div>
            </div>
        </div>
    </div>
</div>


<section class="contact-area pab-100">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="text-center my-5">Contact Summit Grace Boutique Hotel & Spa, Darjeeling
            </h3>
            <div class="col-lg-6 my-6 p-3 content-ceneter">
              <div>
                <h5><a href="#" style="color:#91c61f;">Summit Grace Boutique Hotel & Spa, Darjeeling</a></h5>
                <p>Jalapahar Road, Near St. Paul's School,
                 Darjeeling - 734101</p> 
                 <p> <b>Hotel:</b> +91 35 4225 2507</p>
                 <p> <b>For Reservation :</b>  +91 83 8887 7888</p>
                 <p> <b>Email:</b> grace@summithotels.in</p>
                 <div class="btn-wrapper">
                    <a href="#" class="cmn-btn btn-bg-1 btn-small"> Book </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 my-6">
               <img src="https://www.tajhotels.com/content/dam/luxury/hotels/taj-amer/images/overview-images/high-Res-day.jpg/jcr:content/renditions/cq5dam.web.756.756.jpeg"  class="img-fluid rounded" alt="">
            </div>
        </div>
    </div>
    <style>
        .content-ceneter{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</section>

<?php include 'footer2.html'; ?>



{% endblock %}
