{% extends 'frontmaster.html' %}
{% block content %}

{% include 'header.html' %}




<?php include 'header.html'; ?>
<?php include 'header2.html'; ?>
<div class="breadcrumb-area breadcrumb-padding">
    <div class="container custom-container-one">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-contents">
                    <h4 class="breadcrumb-contents-title"> Contact Us </h4>

                </div>
            </div>
        </div>
    </div>
</div>


<section class="contact-area pab-100">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="text-center my-5">Contact {{hotels.name}}
            </h3>
            {% for i in address %}
            <div class="col-lg-6 my-6 p-3 content-ceneter">
              <div>
                <h5><a href="#" style="color:#91c61f;">{{hotels.name}}</a></h5>
                <p>{{ i.txt | safe }}</p>

              </div>
            </div>
            <div class="col-lg-6 my-6">
                {% if address.img %}
               <img src="{{ address.img.url }}"  class="img-fluid rounded" alt="">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <style>
        .content-ceneter{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</section>

<?php include 'footer2.html'; ?>



{% endblock %}
