{% extends 'frontmaster.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="row justify-content-center text-center alert alert-success py-4">
        <div class="col-lg-6">
            <h6>Pay 100% now & secure your stay</h6>
        </div>
        <div class="col-lg-6">
            <h6>Get a Flat 15% off on Website Bookings</h6>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <h3 class="text-center my-3">{{ package.title }}</h3>
        <div class="col-lg-6">
            <p>{{ package.txt | safe }}</p>
<!--            <div class="btn-wrapper">-->
<!--                <a href="javascript:void(0)" class="cmn-btn btn-bg-1 btn-small"> Reserve Now </a>-->
<!--            </div>-->
        </div>
        <div class="col-lg-6">
            {% if package.img %}
            <img src="{{ package.img.url }}" class="img-fluid rounded" width="100%" height="auto" alt="">
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}